In [81]:
import uuid

import numpy as np
import pandas as pd

In [82]:
N_ROW = 10000

In [83]:
data_1 = pd.DataFrame(
    {
        "ID": [str(uuid.uuid4())[-12:] for i in range(N_ROW)],
        "Category 1": np.random.choice(["A", "B", "C", "D", "E", "F"], size=N_ROW),
        "Property 1": np.random.normal(loc=10.0, scale=100.0, size=N_ROW),
        "Property 2": np.random.normal(loc=0.0, scale=10.0, size=N_ROW),
        "Property 3": np.exp(
            np.random.normal(loc=3.0, scale=1.2, size=N_ROW)
            + np.random.normal(loc=0.0, scale=0.5, size=N_ROW)
        ),
        "Property 4": np.random.normal(loc=500.0, scale=300.0, size=N_ROW),
        "Property 5": np.random.normal(loc=9000.0, scale=9000.0, size=N_ROW),
        "Property 6": np.random.normal(loc=10.0, scale=100.0, size=N_ROW) ** 4
        + np.random.normal(loc=100.0, scale=500.0, size=N_ROW),
        "Property 7": np.random.normal(loc=0.0, scale=150.0, size=N_ROW)
        + np.random.normal(loc=0.0, scale=10.0, size=N_ROW),
        "Property 8": np.random.normal(loc=0.0, scale=1000.0, size=N_ROW),
    }
)

data_1.to_json("data/mclass1.json")

In [84]:
data_1

,ID,Category 1,Property 1,Property 2,Property 3,Property 4,Property 5,Property 6,Property 7,Property 8
0,740f7f57f49b,A,61.409446,5.982266,44.278002,689.616873,14682.358798,6.935019e+06,69.274426,-714.890679
1,ef3ca8f09b2b,B,26.784985,2.792712,10.812549,735.795099,3662.353883,2.849428e+07,111.755375,686.132525
2,d056d568febd,E,21.319572,-14.799142,16.991292,507.055788,-4239.466976,5.724666e+06,-15.857756,1579.674708
3,903c1781b719,B,-63.414702,11.886960,3.641711,113.418100,12259.904999,1.469746e+02,-173.046602,-216.966211
4,f78d8378feaf,A,5.129373,4.329203,42.190917,549.763801,4189.267580,3.639629e+04,-24.358461,-952.108085
...,...,...,...,...,...,...,...,...,...,...
9995,c55f917c058e,E,37.372990,7.244435,13.758528,1081.104568,2916.855100,7.366479e+03,-121.523762,-193.088107
9996,1b008386f8f0,B,42.453368,2.267161,14.195694,858.803092,7571.025025,3.998221e+02,79.991902,1852.969251
9997,00c56183cbd0,F,137.643909,0.953730,119.257471,8.885674,6341.414678,2.932368e+06,-146.166967,246.281836
9998,9adcd72eb064,F,161.024992,-5.173678,46.773022,855.612421,5812.640377,3.880846e+04,7.789896,315.300798
9999,886a5a07ae64,A,-26.682674,-2.348606,104.084774,1159.851086,12136.528119,1.686462e+09,298.510750,164.755317

In [85]:
data_2 = pd.DataFrame(
    {
        "ID": [str(uuid.uuid4())[-12:] for i in range(N_ROW)],
        "Category 1": np.random.choice(["A", "B", "C", "D", "E", "F"], size=N_ROW),
        "Property 1": np.random.normal(loc=10.0, scale=1000.0, size=N_ROW),
        "Property 2": np.random.normal(loc=-10.0, scale=1.0, size=N_ROW),
        "Property 3": np.exp(
            np.random.normal(loc=4.0, scale=0.6, size=N_ROW)
            + np.random.normal(loc=0.0, scale=0.5, size=N_ROW)
        ),
        "Property 4": np.random.normal(loc=55.0, scale=76.0, size=N_ROW),
        "Property 5": np.random.normal(loc=123.0, scale=8741.0, size=N_ROW),
        "Property 6": np.random.normal(loc=10.0, scale=100.0, size=N_ROW) ** 4
        + np.random.normal(loc=100.0, scale=500.0, size=N_ROW),
        "Property 7": np.random.normal(loc=0.0, scale=150.0, size=N_ROW)
        + np.random.normal(loc=0.0, scale=10.0, size=N_ROW),
        "Property 8": np.random.normal(loc=-200.0, scale=1000.0, size=N_ROW),
    }
)

data_2.to_json("data/mclass2.json")

In [86]:
data_2

,ID,Category 1,Property 1,Property 2,Property 3,Property 4,Property 5,Property 6,Property 7,Property 8
0,bfd962c7534a,A,845.661117,-11.377986,37.338200,52.561451,-1520.574239,2.186618e+07,-81.666398,-2465.851390
1,d793681dcec8,B,2751.100496,-9.512951,25.535920,75.434948,-3778.088603,4.452797e+07,120.893360,550.772041
2,f913abd8078d,D,1195.073286,-9.747385,68.411444,22.511820,-5667.245576,2.132329e+07,-73.311838,806.450287
3,0c13119cc414,A,1024.422066,-8.974498,136.480920,52.875480,4172.612809,6.805584e+08,-347.658901,-2256.761022
4,8867f863cc72,E,-1562.364154,-9.052965,31.634565,14.443907,246.953234,8.034589e+06,105.085790,934.418977
...,...,...,...,...,...,...,...,...,...,...
9995,25d9af7442f1,D,678.996446,-9.876461,86.548850,56.613158,417.254242,3.940746e+06,-61.005484,224.704597
9996,47457573e42d,F,1354.629451,-10.319128,85.756189,177.205026,-4607.610350,9.359216e+05,92.351342,-192.336784
9997,10a79764ed40,C,-1410.793139,-10.780553,78.313123,-19.569672,-9530.318019,3.090187e+05,-89.373445,-71.644866
9998,54a64c476aa2,D,149.572234,-9.773789,42.548007,141.953157,7776.051974,6.541592e+08,217.919198,-47.647346
9999,a657a935d1f7,E,-357.539559,-11.065300,10.033086,-87.392432,-20759.428725,8.484646e+07,-61.829505,258.781605

In [87]:
data_3 = pd.DataFrame(
    {
        "ID": [str(uuid.uuid4())[-12:] for i in range(N_ROW)],
        "Category 1": np.random.choice(["A", "B", "C", "D", "E", "F"], size=N_ROW),
        "Property 1": np.random.normal(loc=1.0, scale=5.0, size=N_ROW),
        "Property 2": np.random.normal(loc=-10.0, scale=1.0, size=N_ROW),
        "Property 3": np.exp(
            np.random.normal(loc=5.0, scale=0.6, size=N_ROW)
            + np.random.normal(loc=0.0, scale=0.5, size=N_ROW)
        ),
        "Property 4": np.random.normal(loc=55.0, scale=76.0, size=N_ROW),
        "Property 5": np.random.normal(loc=123.0, scale=8741.0, size=N_ROW),
        "Property 6": np.random.normal(loc=100.0, scale=100.0, size=N_ROW) ** 4
        + np.random.normal(loc=77.0, scale=5900.0, size=N_ROW),
        "Property 7": np.random.normal(loc=0.0, scale=150.0, size=N_ROW)
        + np.random.normal(loc=0.0, scale=98.0, size=N_ROW),
        "Property 8": np.random.normal(loc=-2.0, scale=7.0, size=N_ROW),
    }
)

data_3.to_json("data/mclass3.json")

In [88]:
data_3

,ID,Category 1,Property 1,Property 2,Property 3,Property 4,Property 5,Property 6,Property 7,Property 8
0,62d6e3255735,A,4.317092,-10.025050,32.706718,91.796152,-11207.940574,3.146982e+08,237.225126,-10.467222
1,21def9b29f5b,E,1.272267,-8.465788,356.807433,102.851941,6456.459659,9.410497e+03,-473.480415,2.215420
2,156f81fbf106,B,6.490638,-11.580055,180.245411,90.934074,18074.654336,3.990411e+04,52.298016,-6.580228
3,0b3dafabb007,E,0.118138,-8.280175,283.003626,-25.764332,-11081.884384,5.420656e+02,-31.332634,-7.242115
4,32c1f980c5ee,B,2.412764,-10.563689,126.184066,-13.210676,-4013.816861,5.867941e+08,-5.568884,-3.098860
...,...,...,...,...,...,...,...,...,...,...
9995,d1aa6b2ec09d,B,-5.754732,-10.151008,172.727964,34.665359,-9013.918154,2.216787e+06,-282.286886,2.047963
9996,36da3af807ee,B,1.262245,-8.553121,751.382108,40.437023,-12342.492335,1.930110e+08,89.402839,-12.433888
9997,ea0c85ddd435,B,0.615851,-9.881728,378.419500,137.216733,11712.996890,2.041564e+08,-20.082193,-3.920714
9998,0185c4e89f46,D,1.246455,-10.982166,86.083005,101.158191,4435.222438,5.229128e+09,335.836463,-1.038879
9999,3a4bc12c4d53,B,5.671886,-9.635044,94.609836,65.570127,-4231.777411,1.180045e+09,-418.507012,1.859228